@import '../../../scss/color';

.main-story-background {
    width:100%;
    height:35rem;
    transition: .5s;
    opacity: .2;
    .main-story {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(6rem);
        transition: 1s;
        .main-story-img {
            width: 40%;
            overflow: hidden;
            video {
                width: 100%;
                border-radius: 1rem;
            }
        }
        .main-story-text {
            width: 60%;
            p {
                width: 100%;
                font-size:  2.5rem;
                font-family: Poppins;
            }
            p:first-child {
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }
}